<%- include('partials/header') -%>
<h1><%=title %></h1>
<% if(user) { %>
  <form action="/create-project" method="POST">
    <div class="input-field">
      <label for="newName">Project Name:</label>
      <input type="text" name="newName" placeholder="Project Name"/>
    </div>
    <div class="input-field">
      <label for="newStatus">Status:</label>
      <input type="text" name="newStatus" placeholder="Status"/>
    </div>
    <div class="input-field">
      <label for="newStartDate">Start Date:</label>
      <input type="text" name="newStartDate" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="input-field">
      <label for="newDueDate">Due Date:</label>
      <input type="text" name="newDueDate" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="input-field">
      <br/>
      <input type="submit" value="Create Project" name="submitData"/>
    </div>
  </form>
<% } %>

<%- include('partials/footer') -%>