@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: sans-serif; */
	min-height: 100vh;
	color: #555;
  /* background-color: green; */
}

/* label,input{
  display:flex;
  flex-direction:column;
} */

/* input, label {
    display: block;
} */


.input-field {
  float: left; 
  margin-right: 10px;
}

label {
  display:flex;
  flex-direction:column;
}

/* .date-input {
  width: 210px;
} */


table{
	width:  1000px;
	margin: 30px auto;
}

table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
  vertical-align: middle;
	background-color: #fff;
}

#newName {
  width: 230px;
}