@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: sans-serif; */
	min-height: 100vh;
	color: #555;
  /* background-color: green; */
}

/* label,input{
  display:flex;
  flex-direction:column;
} */

/* input, label {
    display: block;
} */


.input-field {
  float: left; 
  margin-right: 15px;
	/* text-align: center; */
}

.input-field-center {
  float: left; 
  margin-right: 15px;
	text-align: center;
}

label {
  display: flex;
  flex-direction: column;
	width: fit-content;
	padding: 2px 5px;
	margin-bottom: 3px;
}

/* .date-input {
  width: 210px;
} */


table{
	width:  1050px;
	margin: 30px auto;
}

table th{
	padding: 10px 5px;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 45%;
	text-align: center;
  vertical-align: middle;
	background-color: #fff;
}

#newName {
  width: 230px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}

ul.no-bullets li {
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px; 
}

#after-text-box {
	margin: 70px 10px 10px 10px;
	padding-bottom: 10px;
}

#new-line {
	float: left; 
	margin: 5px 5px 20px 5px;
}


.label-background {
	background-color: #ADD8E6;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;

}

.chartMenu {
	width: 100vw;
	height: 40px;
	background: #1A1A1A;
	color: rgba(54, 162, 235, 1);
}
.chartMenu p {
	padding: 10px;
	font-size: 20px;
}
.chartCard {
	width: 100vw;
	height: calc(100vh - 40px);
	background: rgba(54, 162, 235, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.chartBox {
	width: 400px;
	padding: 20px;
	border-radius: 20px;
	border: solid 3px rgba(54, 162, 235, 1);
	background: white;
}
