@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: green; */
}

/* label,input{
  display:flex;
  flex-direction:column;
} */

/* input, label {
    display: block;
} */


.input-field {
  float: left; 
  margin-right: 10px;
}

label {
  display:flex;
  flex-direction:column;
}